@media (min-width: 601px) {
  body {
    background: #f2f5fa;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
  }
  .container {
    height: 100%;
    width: auto;
  }
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav a {
    text-decoration: none;
  }
  nav {
    text-decoration: none;
    top: 115px;
    left: 140px;
    position: absolute;
  }
  #logo {
    position: absolute;
    top: -15px;
    width: 25px;
    height: 40px;
    left: -25px;
  }
  #pine {
    margin-left: 15px;
    margin-right: 113px;
  }
  h1 {
    font-family: Georgia;
    font-weight: 400;
  }
  a {
    margin: 0px 15px;
    color: #131821;
  }
  a:hover {
    color: #4066a5;
    cursor: pointer;
  }
  a:active {
    color: #233759;
  }
  a:focus {
    cursor: pointer;
  }
  #newsletter {
    position: absolute;
    top: 374px;
    left: 140px;
    right: 140px;
    width: 22%;
  }
  #summer {
    position: absolute;
    left: 680px;
    top: 0px;
    z-index: 0;
    height: 100%;
    width: auto;
  }
  h1 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  input {
    background-color: #ffffff;
  }
  #email {
    position: absolute;
    top: 539px;
    left: 100px;
    width: 659px;
    height: 70px;
    z-index: 1;
    border: solid 1px #e3e3e4;
    border-left: solid 4px #4066a5;
    background: #ffffff;
  }
  #email:focus {
    border: 1px solid #e3e3e4;
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    border-left: solid 4px #4066a5;
    outline: none;
  }
  #email:hover,
  #email:active {
    border: 1px solid #4066a5;
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    border-left: solid 4px #4066a5;
    color: #131821;
  }
  #email,
  :placeholder-shown {
    padding-left: 44px;
    color: #6a707b;
  }
  :placeholder-shown:read-write {
    background-color: red;
  }
  #iAgree {
    position: absolute;
    top: 672px;
    left: 181px;
    right: 514px;
    margin-left: 12px;
  }
  #error {
    position: absolute;
    left: 150px;
    top: 620px;
    color: red;
    z-index: 2;
  }
  #arrow {
    position: absolute;
    left: 700px;
    top: 565px;
    background-color: #fff;
    z-index: 2;
    outline: none;
  }
  #arrow:hover {
    cursor: pointer;
    background-image: url("/img/ic_arrow.png");
    color: rgba(64, 102, 165, 1);
    background-color: #fff;
  }
  #arrow:active {
    cursor: pointer;
    color: rgba(64, 102, 165, 1);
  }
  #arrow:focus {
    background-color: #fff;
  }
  #ok {
    position: absolute;
    top: 663px;
    left: 140px;
    right: 514px;
    cursor: pointer;
    height: 26px;
    width: 26px;
  }
  #line {
    position: absolute;
    padding-bottom: 723px;
    border-bottom: solid 1px #e3e3e4;
    width: 21%;
    left: 140px;
  }
  .icons {
    position: absolute;
    left: 158px;
    top: 791px;
  }

  #fb,
  #ig,
  #tw,
  #yt {
    border-radius: 50%;
  }
  #fb:active,
  #ig:active,
  #tw:active,
  #yt:active {
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  }
  #fb:hover,
  #ig:hover,
  #tw:hover,
  #yt:hover {
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  }
  #fb:hover {
    background: #4267b2;
  }
  #fb:active {
    background: #2f4a80;
  }
  #ig:hover {
    background: #c13584;
  }
  #ig:active {
    background: #8f2762;
  }
  #tw:hover {
    background: #1da1f2;
  }
  #tw:active {
    background: #177fbf;
  }
  #yt:hover {
    background: #ff0000;
  }
  #yt:active {
    background: #cc0000;
  }

  /*  only four success page  */
  .secondIcons {
    position: absolute;
    left: 188px;
    top: 590px;
  }
  #success {
    position: absolute;
    top: 269px;
    left: 140px;
  }
  #thanks {
    position: absolute;
    top: 369px;
    left: 140px;
    right: 140px;
    width: 21%;
    line-height: 44px;
  }
  #youHaveSuccess {
    margin-top: 20px;
    line-height: 28px;
  }
  #secondLine {
    position: absolute;
    padding-bottom: 539px;
    border-bottom: solid 1px #e3e3e4;
    width: 21%;
    left: 140px;
  }
}
@media (max-width: 600px) {
  body {
    background: #fff;
    display: flex;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 3px;
    margin: 0;
  }
  nav {
    position: absolute;
    top: 21px;
    left: 210px;
  }

  #logo {
    position: absolute;
    left: -190px;
    top: -15px;
    width: 25px;
    height: 40px;
  }
  #pine {
    display: none;
  }
  h1 {
    font-family: Georgia;
    font-weight: 400;
  }
  a {
    margin: 0px 10px;
    color: #131821;
  }
  a:hover {
    color: #4066a5;
    cursor: pointer;
  }
  a:active {
    color: #233759;
  }
  a:focus {
    cursor: pointer;
  }

  #newsletter {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 60px;
    font-size: 14px;
    line-height: 22px;
  }
  #summer {
    position: absolute;
    left: -261px;
    top: 66px;
    z-index: -1;
    height: auto;
    width: auto;
  }
  h1 {
    margin-left: 10px;
    font-size: 24px;
  }
  #email {
    position: absolute;
    top: 146px;
    left: 25px;
    width: 350px;
    height: 60px;
    z-index: 3;
    border: solid 1px #e3e3e4;
    border-left: solid 4px #4066a5;
    background: #ffffff;
  }
  #email:focus {
    border: 1px solid #e3e3e4;
    box-sizing: border-box;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    border-left: solid 4px #4066a5;
    outline: none;
  }
  #email:hover,
  #email:active {
    border: 1px solid #4066a5;
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
    border-left: solid 4px #4066a5;
    color: #131821;
  }
  #email,
  :placeholder-shown {
    padding-left: 19px;
    color: #6a707b;
    font-size: 16px;
  }
  #iAgree {
    position: absolute;
    top: 245px;
    left: 70px;
    margin-left: 12px;
  }
  #arrow {
    position: absolute;
    margin-left: 10px;
    left: 300px;
    top: 169px;
    z-index: 3;
    height: 14px;
    width: 24px;
  }
  #arrow:hover {
    cursor: pointer;
  }
  #ok {
    position: absolute;
    top: 237px;
    left: 30px;
    cursor: pointer;
    height: 26px;
    width: 26px;
  }
  #line {
    position: absolute;
    top: 295px;
    border-bottom: solid 1px #e3e3e4;
    left: 20px;
    right: 20px;
  }
  .icons {
    position: absolute;
    left: 90px;
    top: 330px;
  }
  .mob {
    z-index: 2;
    background-color: #f2f5fa;
    position: absolute;
    top: 254px;
    left: 40px;
    right: 40px;
    height: 410px;
  }
  #error {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 208px;
    color: red;
    z-index: 2;
  }
  #fb,
  #ig,
  #tw,
  #yt {
    border-radius: 50%;
    margin-left: -9px;
  }
  #fb:active,
  #ig:active,
  #tw:active,
  #yt:active {
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  }
  #fb:hover,
  #ig:hover,
  #tw:hover,
  #yt:hover {
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  }
  #fb:hover {
    background: #4267b2;
  }
  #fb:active {
    background: #2f4a80;
  }
  #ig:hover {
    background: #c13584;
  }
  #ig:active {
    background: #8f2762;
  }
  #tw:hover {
    background: #1da1f2;
  }
  #tw:active {
    background: #177fbf;
  }
  #yt:hover {
    background: #ff0000;
  }
  #yt:active {
    background: #cc0000;
  }
  /*  only four success page  */
  .secondIcons {
    position: absolute;
    left: 113px;
    top: 590px;
  }
  #success {
    position: absolute;
    top: 280px;
    left: 60px;
    z-index: 3;
  }
  #para {
    margin-top: 20px;
    line-height: 28px;
  }
  #thanks {
    position: absolute;
    top: 359px;
    left: 60px;
    width: 70%;
    line-height: 40px;
  }
  #secondLine {
    position: absolute;
    padding-bottom: 569px;
    border-bottom: solid 1px #e3e3e4;
    width: 75%;
    left: 60px;
  }

  .mob1 {
    z-index: 0;
    background-color: #f2f5fa;
    position: absolute;
    top: 254px;
    left: 40px;
    right: 40px;
    height: 410px;
  }
}
